<section id="gtco-reservation" class="bg-fixed bg-silver section-padding"
             style="background-image: url(img/home/M-cute-lashes-background.jpg); background-position: center !important; background-size: cover; background-repeat: no-repeat;">
        <div class="container">
            <div class="row justify-content-center m-0">
                <p class="text-big">Lashes care for the modern woman</p>
                <p class="text-white text-center padding-booking">We offer hundreds of colors from chic neutrals to
                    bright pastels — there's something for everyone! Stop on by our salon today for the perfect
                    lashes experience.
                </p>
                <a target="_blank"
                   href="#" data-booking
                   class="btn-primary mt-3 booking-big">Book Now<span><i class="fa fa-arrow-right ml-3"></i></span></a>
            </div>
        </div>

    </section>

<footer class="mastfoot bg-silver section-padding bg-coffee">
    <div class="inner container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-2">
                        <img style="height: 80px" src="img/M-cute-lashes-logo-gold.png" class="img-fluid footer-logo mb-3" alt="M Cute Lashes">
                    </div>
                    <div class="col-md-10">
                        <p class="text-about-footer"><b name="storeNameAndAddress">,</b> Top Lashes will tailor your eyelash extensions to suit your face and your lifestyle. We apply lashes using a technique that does not damage your own lashes.
                            <br><br>
        
                            Lashes Beauty Spa in <span name="storeFullAddress"></span>
                        </p>
                    </div>
                </div>
                <div class="footer-widget pr-0">
                    
                
                </div>

            </div>
            <div class="col-md-6 mb-3 border-top-footer">
                <div class="footer-widget px-lg-1 px-0">
                    <h4 class="color-silver">Open Hours</h4>
                    <ul class="list-unstyled open-hours">
                        <li class="d-flex justify-content-start text-pink" name="storeTime_1"></li>
                        <li class="d-flex justify-content-start text-pink" name="storeTime_2"></li>
                        <li class="d-flex justify-content-start text-pink" name="storeTime_3"></li>
                        <li class="d-flex justify-content-start text-pink" name="storeTime_4"></li>
                        <li class="d-flex justify-content-start text-pink" name="storeTime_5"></li>
                        
                        
                    </ul>
                    <nav class="nav nav-mastfoot justify-content-start">
                        <a class="nav-link nav-link-footer" target="_blank"
                           href="#" data-facebook>
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="nav-link nav-link-footer" target="_blank"
                           href="#" data-instagram>
                            <i class="fab fa-instagram"></i>
                        </a>
    
                        <a class="nav-link nav-link-footer" target="_blank"
                           href="#" data-google>
                            <i class="fab fa-google"></i>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 mb-3 border-top-footer">
                <div class="footer-widget pl-lg-1 pl-0">
                    <h4 class="color-silver">Contact Us</h4>

                    <h5 class="color-silver-2">Address</h5>
                    <p class="text-pink" name="storeFullAddress"></p>
                    <h5 class="color-silver-2">Tel</h5>
                    <a href="#" class="text-pink" data-phone name="storePhone"><p></p></a> <br><br>
                    <h5 class="color-silver-2">Email</h5>
                    <a href="mailto:mcutelashes@gmail.com" class="text-pink" name="storeEmail"><p></p></a>
                </div>
            </div>
            <div class="col-md-12 d-flex align-items-center border-top-footer">
                <p class="mx-auto text-center mb-0 color-silver-2">Copyright 2023. All Rights Reserved. Designed by <a
                        href="https://www.lldtek.org" target="_blank" class="nav-link-footer no-bg">LLDTEK</a></p>
            </div>

        </div>
    </div>
</footer>