<div id="mySidenav" class="sidenav">
    <a id="side-nav-close" onclick="closeNav()">&times;</a>

    <div class="sidenav-content">

        <a class="navbar-brand align-items-center" href="index.html"
           style="padding-left: 0px;padding-right: 70px;padding-bottom: 30px">
            <img style="height: 80px" src="img/M-cute-lashes-logo-gold.png" alt="M Cute Lashes">
        </a>
        
        <h5>Address</h5>
        <p name="storeFullAddress"></p>
        <h5>Tel</h5>
        <a href="" name="storePhone" data-phone></a> <br>
        <h5 >Email</h5>
        <a style="font-size: 15px; font-weight: normal" href="mailto:mcutelashes@gmail.com"> <p name="storeEmail"></p></a>
        <h5>Hours</h5>
        <span>
            <span name="storeTime_1"></span> <br>
            <span name="storeTime_2"></span> <br>
            <span name="storeTime_3"></span> <br>
            <span name="storeTime_4"></span> <br>
            <span name="storeTime_5"></span> <br>
        </span>
        
    </div>
    
</div>
<nav id="navbar-header" class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <!--mobile logo -->
        <a class="navbar-brand navbar-brand-center d-flex align-items-center p-0 only-mobile" href="index.html">
            <img style="height: 80px" src="img/M-cute-lashes-logo-gold.png" alt="M Cute Lashes">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex justify-content-between">
                <li class="nav-item only-desktop">
                    <a class="nav-link" id="side-nav-open" href="#">
                        <span class="lnr lnr-menu" onclick="openNav()"></span>
                    </a>
                </li>
                <div class="d-flex flex-lg-row flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gallery.html">Gallery</a>
                    </li>
                </div>
            </ul>

            <a class="navbar-brand navbar-brand-center d-flex align-items-center only-desktop" href="index.html">
                <img style="height: 80px" src="img/M-cute-lashes-logo-gold.png" alt="M Cute Lashes">
            </a>
            <ul class="navbar-nav d-flex justify-content-between">
                <div class="d-flex flex-lg-row flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="menu.html">Services</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="reservation.html">Contact</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>